extends layout

block content
    div(class="main-header", ng-controller="Controllers.IndexController")
        .title
            =title
        include user

    div(ng-view,class="main-body")

    include footer
