doctype 5
html(ng-app="trakkit")
    head
        title= title
        link(rel='stylesheet', href='/css/app.css')
        script(src='/js/lib/angular.min.js')
        script(src='/js/app.js')
        script(src='/js/filters.js')
        script(src='/js/services.js')
        script(src='/js/directives.js')
        script(src='/js/controllers.js')

    body
        block content