doctype 5
html(ng-app)
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/js/lib/angular.min.js')
        script(src='/js/controllers.js')
    body
        block content