extends layout

block content
    ul.authUl
        li.google.auth-item
            a(href="/auth/google") Sign In with Google
        li.twitter.auth-item
            a(href="/auth/twitter") Sign in with Twitter