div(class="tracks", ng-controller="Controllers.IndexController")
    h2 Your tracks
    ul
        li(ng-repeat="track in user.tracks")
            a(href="/track/{{track._id}}") {{track.name}}
            a(class="delete", href="", ng-click='removeTrack(track._id)') x

    label(for='title') Track Name:
    input(ng-model='form.title', name='title')
    button(ng-click='addTrack()') Add Track