div(class="dataPoints", ng-controller="Controllers.TrackController")
    h2 Your dataPoints
    ul
        li(ng-repeat="dataPoint in track.dataPoints")
            {{dataPoint.xAxis}}
            {{dataPoint.yAxis}}

    label(for='xAxis') xAxis:
    input(ng-model='form.xAxis', name='xAxis')
    label(for='yAxis') yAxis:
    input(ng-model='form.yAxis', name='yAxis')
    button(ng-click='addPoint()') Add Track

    a(href="/home") back