.main-header {
  background-color: #EDEEEE;
  height: 40px;
  color: #31A68A;
  border-bottom:1px solid #dfe0e0;
  position: relative;

  .title {
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 40px;
    font-family: 'Orbitron', sans-serif;
  }

  .user {
    position: absolute;
    width: 150px;
    right:40px;
    top:0;
    line-height: 40px;
    padding-left: 30px;
    font-weight: bold;

    .user-photo {
      position: absolute;
      left:0;
      top:5px;
    }
  }
}

.main-body {
  padding: 20px;
}