body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width:600px;
    margin:auto;
}

a {
    color: #00B7FF;
}


.google{
    background: url("../images/google-16.png") no-repeat 20px 50%;
}

.twitter{
    background: url("../images/twitter-16.gif") no-repeat 20px 50%;
}

.authUl{
    position: relative;
    margin: 0 10px 10px;
    padding: 0;
    list-style: none;
    z-index: 2;
    list-style: none;
}

.auth-item {
    float: left;
    margin: 0;
    padding: 15px 30px 15px 40px;
    list-style: none;
}

.user{
    float:right;
}

.user-name{
    float:left;
    line-height:48px;
    font-size:24px;
    padding-right:10px;
}

.title{
    float:left;
}

.user-photo{
    float:right;
}

.footer{
    clear:both;
}