body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width:600px;
    margin:auto;
}

a {
    color: #00B7FF;
}

.title h1{
    margin-bottom:0px;
    margin-top:0px;
}


.authUl{
    position: relative;
    margin: 0 10px 10px;
    padding: 0;
    list-style: none;
    z-index: 2;
    list-style: none;
}

.auth-item {
    float: left;
    margin: 0;
    padding: 15px 30px 15px 40px;
    list-style: none;
}

.user{
    float:right;
    height:48px;
}

.user-name{
    float:left;
    line-height:48px;
    font-size:24px;
    padding-right:10px;
}

.title{
    float:left;
    line-height:48px;
}

.user-photo{
    float:right;
}

.header{
    margin-bottom:50px;
    height:48px;
}
.footer{
    clear:both;
    margin-top:200px;
}

.tracks{
    clear:both;
    padding-left:20px;
}

.delete{
    margin-left:15px;
    color:red;
}